* {
  box-sizing: border-box;
}

:root {
  --bodyColor: #bdc3c7;
  --headerColor: #dae4ee;
  --textColor: #34495e;
}

@import "grid";

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?iefix") format("eot"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("WebFont.ttf") format("truetype"),
    url("WebFont.svg#webfont") format("svg");
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--bodyColor);
  padding: 0;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: var(--headerColor);
}

p {
  color: white;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
}
/* Navigation */

.header-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacing {
  padding: 25px;
}

.topHeader {
  font-size: 18px;
  font-weight: bold;
}

/* Logos */

.three-logo {
  width: 250px;
  height: auto;
  padding: 5%;

  @media (max-width: 600px) {
    display: none;
  }
}
